.schedule-calendar-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .date-title {
    margin: 20px 0;
  }
}


.item {
  display: flex;
  padding: 0 8px;
  margin-bottom: 2px;
  height: 24px;
  color: rgba(20, 28, 36, 0.7);
  font-size: 13px;
  line-height: 24px;
  background-color: rgba(33, 150, 243, .2);
  border-radius: 3px;

  &-label {
    margin: 0 2px 0 0;
  }

  &-content {
    overflow: hidden;
  }
}

.pop-wrapper {
  &-time {
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(20, 28, 36, 0.7);
  }
}
